@import "tailwindcss";

@theme {
  --color-primary: #2ECC71;
  --color-primary-hover: #28b766;
  --color-secondary: #4DA3FF;
  --color-accent-purple: #A66BFF;
  --color-accent-orange: #FFB366;
  --color-accent-yellow: #FFE58F;
  
  --color-eco-dark: #1B5E20;
  --color-eco-mint: #E6F8EE;
  --color-eco-bg: #F5F7FA;
  
  --color-text-main: #101828;
  --color-text-muted: #344054;
  
  --font-sans: var(--font-inter);
  
  --radius-card: 16px;
  --radius-btn: 12px;
}

:root {
  --background: #ffffff;
  --foreground: #101828;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
